<html>
  <head>
    <style>
      body {
        background: <%= bgcolor %>;
      }
    </style>
  </head>
  <body>
    <p>
      <h1>"GAME OVER"</h1>
    </p>
    <p>
      <h2>"<%= message%>"</h2>
      <form>
        <input type='submit' name='Play Again?' value="Play Again?" />
      </form>
    </p>
  </body>
</html>
