<html>
  <head>
    <style>
      body {
        background: <%= bgcolor %>;
      }
    </style>
  </head>
  <body>
    <p>
      <h1>"Guess a number between 0 and 100"</h1>
    </p>
    <p>
      <h2>"<%= message%>"</h2>
      <form>
        <input type='text' name='guess' />
        <input type='submit' name='Guess!' />
      </form>
    </p>
    <p> "Guesses Remaining: <%= guesses_remaining %>"</p>
  </body>
</html>
