<html>
  <head>
    <style>
      body {
        background: <%= bgcolor %>;
      }
    </style>
  </head>
  <body>
    <p>
      "Guess a number between 0 and 100"
    </p>
    <p>
      "<%= message%>"
      <form>
        <input type='text' name='guess' />
        <input type='submit' name='Guess!' />
      </form>
    </p>
  </body>
</html>
